<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListarController</servlet-name>
        <servlet-class>Controller.ListarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarController</servlet-name>
        <servlet-class>Controller.AgregarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarController</servlet-name>
        <servlet-class>Controller.EliminarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedirController</servlet-name>
        <servlet-class>Controller.PedirController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarController</servlet-name>
        <servlet-class>Controller.GuardarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarController</servlet-name>
        <url-pattern>/Listar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarController</servlet-name>
        <url-pattern>/Agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarController</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedirController</servlet-name>
        <url-pattern>/Pedir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarController</servlet-name>
        <url-pattern>/Guardar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Listar
        </welcome-file>
    </welcome-file-list>
</web-app>
